<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    {{!-- navbar start --}}
    <ul>
        <h1 class="page-title">The Movie Express </h1>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li style="float:right"><a href="#about">About</a></li>
        <li style="float:right" class="dropdown">
            <font id='label-sort-by'>Sort by :</font>
            <a href="javascript:void(0)" class="dropbtn">{{sort}}</a>
            <div class="dropdown-content">
                <a href="/home?sort=name&page=1">name</a>
                <a href="/home?sort=date&page=1">date added</a>
                <a href="/home?sort=year&page=1">year</a>
            </div>
        </li>
    </ul>
    {{!-- navbar ends --}}

    {{{body}}}

    {{!-- footbar start --}}
    <ul>
        {{#if previousPage}}
        <li><a href="/home?sort={{sort}}&page={{previousPage}}">Previous</a></li>
        {{/if}}
        <li><a class="active" href="/home?sort={{sort}}&page={{currentPage}}">{{currentPage}}</a></li>
        {{#if nextPage}}
        <li><a href="/home?sort={{sort}}&page={{nextPage}}">Next</a></li>
        {{/if}}
    </ul>
    {{!-- footbar ends --}}

</body>

</html>