<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    {{!-- navbar start --}}
    <ul>
        <h1 class="page-title">The Movie Express </h1>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/search">Submit</a></li>
        <li style="float:right"><a href="#about">About</a></li>
    </ul>
    {{!-- navbar ends --}}

    {{{body}}}

    {{!-- footbar start --}}
    <ul>
        {{#if previousPage}}
        <li><a href="/home?page={{previousPage}}">Previous</a></li>
        {{/if}}
        <li><a class="active" href="/home?page={{currentPage}}">{{currentPage}}</a></li>
        {{#if nextPage}}
        <li><a href="/home?page={{nextPage}}">Next</a></li>
        {{/if}}
    </ul>
    {{!-- footbar ends --}}

</body>

</html>