<h1>The Movie Express </h1>
<hr>
<h2>{{ content }}</h2>
<a href="/search">Submit Movie</a>
<hr>
<br>

<div class="centered">
    <section class="cards">
        {{#each array as |movie|}}
        <article class="card">
            <img src={{movie.poster}} style="width: 100%;">
            <div class="card-heading">
                {{movie.title}}
            </div>
            <div class="card-info">
                <p>
                    {{movie.year}} {{movie.type}}
                </p>
                <button class="button"
                    onclick="archiveMovie('{{movie.id}}','{{escape movie.title}}')">Archive</button><br><br><br>
            </div>
        </article>
        {{/each}}
    </section>
</div>


<script src="scripts/home.js"></script>