<h1>The Movie Express </h1>
<h2>{{ content }}</h2>

<a href="/search">Submit Movie</a>
<br>
<br>

<div class="centered">
    <section class="cards">
        {{#each array as |movie|}}
        <article class="card">
            <img src={{movie.poster}} style="width: 100%;">
                <div>
                    <h3>{{movie.title}}</h3>
                </div>
                <div><i>ID: {{movie.id}}</i></div>
                <div>
                    {{movie.year}}
                    <br>
                    {{movie.type}}
                    <br>
                    <button>Add</button><br><br><br>
                </div>
        </article>
        {{/each}}
    </section>
</div>


<script src="scripts/home.js"></script>