<h1>The Movie Express </h1>
<h2>{{ content }}</h2>

<a href="/search">Submit Movie</a>

<div id="cards">
    {{#each array as |movie|}}
    {{!-- <div class="row"> --}}
    <div class="column">
        <div class="card">
            <img src={{movie.poster}} style="width: 100%;">
            <div class="container"><br>
                <div>
                    <h3>{{movie.title}}</h3>
                </div>
                <div><i>ID: {{movie.id}}</i></div>
                <div>
                    {{movie.year}}
                    <br>
                    {{movie.type}}
                    <br>
                    <button>Add</button><br><br><br>
                </div>
            </div>
        </div>
    </div>
    {{!-- </div> --}}
    {{/each}}
</div>


<script src="scripts/home.js"></script>